body{
  display: grid;
  place-items: center;
  background-color: #232323;
}

.title {
  font-family: sans-serif;
  text-align: center;
}

.component_container {
  position: relative;
}

.main {
  display: grid;
  gap: 1em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-size: 8px;
}

.draggable {
  border-radius: 21px;
}

#parent{
  border-radius: 21px;
  background: #232323;
  box-shadow: inset 10px 10px 9px #0f0f0f,
  inset -10px -10px 9px #373737;
}