body{
  display: grid;
  height: 100vh;
  place-items: center;
  background-color: #232323;
}

button{
  margin: 50px;
  font-size: 2rem;
  color: #232323;
  letter-spacing: 2px;
  border-radius: 13px;
}

.draggable {
  border-radius: 21px;
}

#parent{
  border-radius: 21px;
  border: 12px solid#232323;
  background: #232323;
  box-shadow: 
  13px 13px 16px #0f0f0f,
  -13px -13px 16px #373737,
  inset 10px 10px 9px #0f0f0f,
  inset -10px -10px 9px #373737;
}